
<div class="All">
  <div class="Second">
    <div class="theTExt">
      <h2>My Profile</h2>
    </div>
    <p>It's important to keep your profile information updated</p>

    <article class="tabs-box">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
        *ngIf="userData._id !== regUser._id"
          routerLink="post"
          [active]="currentRoute.includes('post')"
          mat-tab-link
        >
          Job that he's posted
        </a>

        <a
        *ngIf="userData._id === regUser._id"
        routerLink="post"
        [active]="currentRoute.includes('post')"
        mat-tab-link
      >
        Job that you posted posted
      </a>
      </nav>
    </article>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    
    <section>
      <router-outlet></router-outlet>
    </section>
<!-- 
    <div><a [routerLink]="['saveJobs']">My Saved Jobs</a></div>
    
    <section>
      <router-outlet></router-outlet>
    </section> -->

  <div class="st">
  <h2>Contact Information</h2>
  <div class="forEditInHr" *ngIf="userData._id === regUser._id">
    <svg (click)="openUpdateUserFormBtnClick()" style="float: right;
    margin-right: 500px; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
  </div>
  <hr>
  <div class="names">
    <nav>
      <div class="NameOfTheUser">
        <p>{{userData.firstname}} {{userData.lastname}}&nbsp;&nbsp; <span class="verified-avatar-icon">✓</span></p>
      </div>
      <ul style="margin-top: -31px;">
        <li>Contact Method: <b>{{userData.conntactmethod}}</b></li>
        <li>Contact Time: <b>{{userData.contacttime}}</b></li>
        <li>Home: <b>{{userData.home}}</b></li>
        <li>Work: <b>{{userData.work}}</b></li>
        <li>Mobile: <b>{{userData.mobile}}</b></li>
        <li>Email: <b>{{userData.email}}</b></li>
      </ul>
    </nav>
  </div>
</div>
  <div class="nd">
  <h2>Work Preferences</h2>
  <div class="forEditInHrND" *ngIf="userData._id === regUser._id">
    <svg (click)="openUpdateUsernrTwoFormBtnClick()" style="float: right;
    margin-right: 500px; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
  </div>
  <hr>
  <div class="namesND">
    <nav>
      <div class="NameOfTheUserS">
        <li>Employment Type: <b>{{userData.employmenttype}}</b></li><br>
        <li>Salary Expectation: <b>{{userData.salarexpection}}</b></li><br>
        <li>Where Can you start: <b>{{userData.whencanyoustart}}</b></li>
      </div>
      <!-- <ul>
        <li>Employment Type: <b>{{userData.conntactmethod}}</b></li>
        <li>Salary Expectation: <b>{{userData.contacttime}}</b></li>
        <li>Where Can you start: <b>{{userData.mobile}}</b></li>
      </ul> -->
    </nav>
  </div>
</div><br><br>
<h1>Questions</h1><hr>
<div class="rdAndFinally">
  <h2>Please review your profile questions each time you complete an application and updated as needed</h2>
  <hr>
  <h1  *ngIf="userData._id !== regUser._id">Talent Profile</h1> <br>
  <ul style="list-style: none;
  font-size: 15px;">
    <li><b>Education Degree:</b> {{userData.educationdegree}}</li>
    <li><b>Specialization / Major: </b>{{userData.specialization}}</li>
    <li><b>Grade/GPA:</b> {{userData.gradeGpa}}</li>
    <li><b>Completion Date:</b> {{userData.compleatedate}}</li>
  </ul> 

  <ul style="
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: -95px;
  margin-left: 754px;
  list-style: none;
  font-size: 15px;">
    <li><b>Job title:</b>{{userData.Contactname}}</li>
    <li><b>Country:</b> {{userData.country}}</li>
    <li><b>City:</b> {{userData.city}}</li>
    <li><b>Reason for Leaving:</b> {{userData.zipcode}}</li>
  </ul>
</div><br><br>

<h1 *ngIf="userData._id === regUser._id">Talent Profile</h1>
<hr>
<div class="rdAndReallyFinally" [ngSwitch]="tab"  *ngIf="userData._id === regUser._id">
  <div class="allScetcxh">
    <div class="theLeftSchext">
      <ul style="list-style: none;
      display: flex;
      gap: 35px;
      flex-direction: column;
      font-size: 15px;">
        <li (click)="ngSwitchAddPosition()" style="cursor: pointer;">Add Position</li>
        <li (click)="ngSwitchAddEducation()" style="cursor: pointer;">Add Education</li>
      </ul>
    </div>
    <div class="theright" >
      <div #addpostiion *ngSwitchCase="'addpostiion'" class="topMrg">
        <button class="button-15" role="button" (click)="openUpdatePositionandEduactionTwoFormBtnClick()" >Add Position </button>
      </div>
      <div #addEduacation *ngSwitchCase="'addEduacation'" class="topMrg">
         <button class="button-15" role="button" (click)="AddEduacationFormBtnClickk()" >Add Eduacation</button>
      </div>
    </div>
  </div>
</div>
</div><br>
