.allShi{
    display: flex;
    // justify-content: center;
    background-color: rgb(200, 224, 224);
    row-gap: 20px;
   
    color: rgb(238, 131, 0);
}
article{
    row-gap: 20px;
    margin-top: 10px;
}