<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      routerLinkActive="post"
      [routerLink]="['/prolife', searchValue]"
      class="btn btn-outline-secondary"
      type="button"
    >
      Search
    </button>
  </div>
  <input
  (keyup.enter)="navigateToPost()"
    [(ngModel)]="searchValue"
    type="text"
    class="form-control search-input"
    placeholder=""
    aria-label=""
    aria-describedby="basic-addon1"
  />
</div>

<div *ngIf="jobSearchAttempted">
  <p>Job not found or an error occurred.</p>
</div>

<article *ngFor="let post of post">
<div class="allShi">
  <div class="Categoryss">
    <p><b>CreatedBy</b> -- {{post.author.firstname}}</p>
    <div routerLink="/post/{{post._id}}"><h2>{{post.nameofthejob}} - {{post.shift}} SHIFT - {{post.hours}} MAIN</h2></div>
    <p><b>Location:</b> {{post.loaction}}</p>
    <p><b>Category:</b> {{post.category}}</p>
  </div>
  <div class="vrts">
    <p style="float: right;
    margin-left: 332px;
    margin-top: 51px;">Created At : {{post.createdAt}}</p>
  </div>
</div>
</article>


<div>
  <button (click)="onAddNewBtnClick()">add job</button>
</div>

