.post-middle { 
    background-color: rgb(226, 234, 231);

}

.txts{
    padding: 40px;

    p {
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: rgb(50, 6, 6);
        font-weight: bold;
    }
}

li { 
    list-style: none;
}

