<mat-dialog-content>
    <div class="new-post-top">
      <textarea
        [(ngModel)]="nameofthejob"
        cols="30"
        rows="1"
        placeholder="nameofthejob"
      ></textarea>
      <textarea
        [(ngModel)]="loaction"
        cols="30"
        rows="1"
        placeholder="put your loaction"
      ></textarea>
      <textarea
        [(ngModel)]="worktypes"
        placeholder="worktypes"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
        [(ngModel)]="fte"
        placeholder="fte"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="shift"
        [(ngModel)]="shift"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="hours"
        [(ngModel)]="hours"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="description"
        [(ngModel)]="description"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="requrements"
        [(ngModel)]="requrements"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="position"
        [(ngModel)]="position"
        cols="30"
        rows="1"
      ></textarea>
      <textarea
      placeholder="category"
        [(ngModel)]="category"
        cols="30"
        rows="1"
      ></textarea>
    </div>
    <button
      [disabled]="!nameofthejob && 
      !loaction && !worktypes && !fte && 
      !shift && !hours && !description && !requrements && 
      !position && !category"
      (click)="onSubmit()"
      style="margin-top: 20px"
      class="add-new-btn"
      mat-raised-button
      color="primary"
    >
      Post
    </button>
  </mat-dialog-content>
  