
<div class="Primarysr">
    <h3>important Information or Primary</h3>
</div>
<hr>
<mat-dialog-content class="mat-typography">
<form (ngSubmit)="onSubmitNi()" mat-dialog-content>
<h2>General information</h2>
<div class="ContanetNNavUl">
    <nav>
        <ul>
            <li><span>Title</span> *<input type="text"></li><br>
            <li><span>First Name</span> *<input type="text" 
                name="firstname" [(ngModel)]="userData.firstname"></li><br>
            <li><span>Last Name</span> *<input type="text"  [(ngModel)]="userData.lastname"></li><br>
            <li><span>Middle Name</span> *<input type="text" ></li><br>
            <li><span>Suffix</span> *<input type="text"></li><br>
            <li><span>Professional Designation</span> *<input type="text" ></li><br>
            <li><span>Birth Country</span> *<input type="text"></li><br>
        </ul>

        <ul class="OneAndOneForTheND">
            <li><span>Preferred First Name</span> *<input type="text"></li><br>
            <li><span>Preferred Last Name</span> *<input type="text"></li><br>
            <li><span>Last Name</span> *<input type="text"></li><br>
            <li><span>Home Country</span> *<input type="text" ></li><br>
            <li><span>Preferred Mailing Address</span> *<input type="text"></li><br>
            <li><span>Preferred Contact Method</span> *<input type="text"
                 name="conntactmethod" [(ngModel)]="userData.conntactmethod"></li><br>
            <li><span>Preferred Contact Time</span> *<input type="text"
                 name="contacttime" [(ngModel)]="userData.contacttime"></li><br>
        </ul>
    </nav>
</div>
<hr>
<h2>Address and Email</h2>
<div class="ContentSecondNd">
    <nav>
        <ul>
            <li><span>Country</span> *<input type="text"></li><br>
            <li><span>Address Line 1</span> *<input type="text"></li><br>
            <li><span>Address Line 2</span> *<input type="text"></li><br>
            <li><span>City</span> *<input type="text" ></li><br>
            <li><span>State Province</span> *<input type="text"></li><br>
            <li><span>Zip Code</span> *<input type="text" ></li><br>
            <li><span>Country</span> *<input type="text"></li><br>
        </ul>
        
        <ul class="OneAndOneForTheND">
            <li><span>Primary Email</span> *<input type="text" 
                name="email" [(ngModel)]="userData.email"></li><br>
            <li><span>Resume Name</span> *<input type="text"></li><br>
        </ul>
    </nav>
</div>
<br>
<hr>
<h2>Phone Numbers</h2>
<div class="ContentSecondRd">
    <nav>
        <ul>
            <li><span>Home Phone</span> *<input type="text" 
                name="home" [(ngModel)]="userData.home"></li><br>
            <li><span>Work Phone</span> *<input type="text"
                 name="work" [(ngModel)]="userData.work"></li><br>
            <li><span>Mobile Phone</span> *<input type="text" 
                name="mobile"  [(ngModel)]="userData.mobile"></li><br>
            <li><span>Fax</span> *<input type="text" ></li><br>
        </ul>
    </nav>
</div>
<div class="auth-form-actions">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions>
  