<div class="all">
  <div class="below">
    <h3>{{posts.nameofthejob}} (<b>Job ID:</b> {{posts._id}})</h3>
  </div><br>

  <p>SkyVistaWellness Center: <b routerLink="/prolife/{{posts.author._id}}">{{posts.author.firstname}}</b></p>

  <div class="vrs">
    <ul>
      <li><b>Location:</b>{{posts.loaction}}</li> <br>
      <li><b>Work Type:</b>{{posts.worktypes}}</li> <br>
      <li><b>Fte:</b> {{posts.fte}}</li> <br>
      <li><b>Shift:</b> {{posts.shift}}</li> <br>
      <li><b>Hours:</b> {{posts.hours}}</li> <br>
    </ul> <br>
  </div><br>

  <div class="summerray">
    <h2>SUMMARY OF POSITION:</h2>
    <p>{{posts.description}}</p>
  </div><br>

  <div class="minnd">
    <h2>MINIMUM QUALIFICATION(S):</h2>
    <p>{{posts.requrements}}</p>
  </div> <br>

  <div class="anotherDimension">
    <h1>JOB Summary</h1>
    <div class="d">
      <ul>
        <li><b>Position: </b>{{posts.position}}</li> <br>
        <li><b>Country:</b> {{posts.category}}</li> <br>
      </ul>
    </div>
  </div>
</div>

<div class="button-container">
<button class="button-15" mat-button [matMenuTriggerFor]="postMenu" role="button" *ngIf="userData._id === posts.author._id"
mat-button>Delete your Post</button>
<mat-menu #postMenu="matMenu">
  <button  (click)="onPostDeleteBtnClick(posts._id)" mat-menu-item>
    Delete
  </button>
</mat-menu>
</div>
<div class="button-container">
  <button class="button-15" role="button" (click)="saveJob(posts._id)">save</button>
</div>
