<div class="note">
<p>Please complete the following fields to setup your account.</p>

<p>Google Chrome is the recommended browser for the best experience. To be able to have the best experience to create your profile, upload your resume.
</p>
<p>Please note, there is a maximum limit of 40 pages for resumes.</p>
</div>
<h2><b> Basic Information</b></h2>
<hr>
<form [formGroup]="userForm" (ngSubmit)="onsubmit()">
    <div class="allth">
        <ul>
            <li><span>firstname</span> *<input type="text" formControlName="firstname"></li>
            <li><span>Email addres</span> *<input type="text" formControlName="email"></li>
            <li><span>lastname</span> *<input type="text" formControlName="lastname"></li>
            <li><span>password</span> *<input type="text" formControlName="password"></li>
        </ul>
    </div>

    <h2><b>Create Profile</b></h2>
    <hr>
    <p>You can choose to create your profile from the following.</p>

    <div class="thse">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Upload a resume</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Use Resume Content</h6>
              <p class="card-text">Use Microsoft Word, PDF, text, or HTML files. This content will then get populated to your profile.</p>
              <input type="file" placeholder="Click here and put resume">
            </div>
            <button type="submit">Submit</button>
          </div>
    </div>
</form>
<div style="cursor: pointer;">
  <p routerLink="/login">login Instead</p>
</div>