<!-- <div *ngIf="loader" class="spinner-box">
    <div class="preloader"></div>
  </div> -->
  <header>
    <div class="AllDivs">
    <div class="stuctImages">
      <h1>SkyVIstaWellness Center</h1>
    </div>
    <div class="structure">
      <nav>
        <ul>
          <div><a routerLink="">Job Listing</a></div>
          <div><a routerLink="/prolife/{{ userData._id }}">My Profile</a></div>
          <div><a routerLink="/saveJobs/{{userData._id}}">My Saved Jobs</a></div>
          <li>My Applications</li>
          <li>My Job Alerts</li>
          <li class="one"><b>{{userData.firstname}} {{userData.lastname}}</b></li>
        </ul>
        <div>
          <button (click)="logOut()"
          *ngIf="afterLoginDisplay">logOut</button>
        </div>
      </nav>
    </div>
  </div>
  </header>
 
<router-outlet></router-outlet>