.imagee { 
    width: 50px;
}

.stuctImages { 
    text-align: center;
    /* display: flex; */
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    /* margin-right: 200px; */
    margin-left: -685px;
}

.verified-avatar-icon {
  
    position: absolute;
    border-radius: 50%;
    background: aqua;
    width: 16px;
    height: 15px;
    /* display: grid; */
    text-align: center;
    line-height: 15px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }

nav { 
    display: flex;
    /* justify-content: center; */
    height: 140px;
    align-items: center;
}

ul { 
    display: flex;
    justify-content: center;
    /* height: 100cm; */
    list-style: none;
    gap: 21px;
}
nav ul li .one { 
    margin-left: 300px;
}

.structure { 
    display: flex;
    justify-content: center;
}


.button-15 {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 110px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .button-15:disabled {
    cursor: default;
    opacity: .3;
  }
  
  .button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  .button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
  }
  
  .button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
  }