<!-- 
<article class="tabs-box">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
      *ngIf="userData._id === regUser._id"
      routerLink="post"
      [active]="currentRoute.includes('post')"
      mat-tab-link
    >
      Job that you posted posted
    </a>
    </nav>
  </article>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  
   <section>
    <router-outlet></router-outlet>
  </section> -->

  <section *ngIf="userData._id === regUser._id">
    <router-outlet></router-outlet>
  </section>

  <div class="lore" *ngIf="userData._id !== regUser._id">
    <p> 
        Privacy Warning: Please Read Carefully <br> <br>

Dear SkyVistaWellness Users, <br> <br>

We value your privacy and are committed to maintaining a safe and secure environment for all our users. We want to remind you that searching, viewing, or attempting to correct another user's post without their explicit permission is strictly against our privacy policies and the rules of our application. <br> <br>

Respecting the privacy of others is a fundamental principle of our community. <i>Unauthorized</i> access to or interference with another user's content not only violates our terms of service but also undermines the trust and integrity of our platform. <br> <br>

We urge all users to refrain from any activities that compromise the privacy and security of fellow members. If you come across content that needs attention, please report it through the appropriate channels provided within the application. <br> <br>

Thank you for your cooperation in upholding a positive and respectful community experience. <br> <br>

Best regards, <br>

SkyVistaWellness Team
    </p>
  </div>